body{
    font-family: 'DM Sans', sans-serif;
    color: #FFFFFF;
    /* background-color:#F5F5F5; */

}

h1{
font-size: 500%;
line-height: 80px;
letter-spacing: -2.01026px;
}
h2{
    font-weight: 900;
    font-size: 49px;
}

 /* landing page section styles */
#landing_page{
    background-image: linear-gradient(198.73deg, rgba(0, 0, 0, 0.0001) 15.31%, rgba(0, 0, 0, 0.837986) 67.37%),
     url(images/etienne-beauregard-riverin-B0aCvAVSX8E-unsplash.png);
    
     margin-bottom: 10%;
    }
#Guarantee-1{
    background-color: #FFFFFF;
}

nav{
    margin: 0 20vw;
}
.navbar{
    margin:0;
}
.navbar-brand{
    margin-right: 5rem;
} 
#logo{
    padding-right:9px ;
}
.nav-link{
    margin: 0 2rem;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    letter-spacing: -0.376px;
    
}
.colored-btn{
    background-color: orange;
    border-radius: 0 20px 0 0;
}

.colored-btn a{
    font-size: 16px;
    color: black;
}
.headings{
    margin-left:6%;
    padding: 7% 43% 5% 0%;
}
.headings p{
    font-size: 16px;
    line-height: 28px;
    padding-right: 15%;
    letter-spacing: -0.502564px;
    mix-blend-mode: normal;
    opacity: 0.6;
}
.container-fluid{
    margin-left:6%;
    padding-left: 0;
    margin-top: 7%;
}
.rectangles{
    position: relative;
    width: 84%;
    height: 5.625rem;
    left: 11%;
    background-color: #FFFFFF;
    color: black;
    font-weight: bold;
}

 /* container for most section */
.contain{
    
    background-color:#F5F5F5;
    padding-bottom: 25%; 
}

/* Guurantee-1 section styling */
.content-image{
    height:530px ;
}
.text-image{
    width: 100%;
}
.content-image img{
    height: 125%;
    width: 100%;

}
.text-content {
    padding-top: 7rem;
    padding-left: 4rem;
    padding-right: 6rem;
    color: rgb(109, 107, 107);
    text-align: left;
}
.text-content h2{
    color: black;
    padding-bottom: 2rem;
}

.text-img-btn{
    padding: 20px 50px;
    background-color: black;
    color: white;
    border-radius:0 20px 0 0;
}

 /* Products section styles */
#products{
    height: 100%; 
}
.inner-prod-container{
    padding: 10% 5% 5%;
    margin: 0 3%;
}
.products-heading h2{
    color: black;
}
.colored-container{
    height:120px ;
    width: 100%;
    background-color: lightgrey;
    border-radius: 30px 30px 0 0;
    display: flex;
}

.dropdwn-cont{
    display: flex;
    justify-content:space-between;
    border-radius:30px;
    background-color: #fff;
    height: 120px;
    width: 100%;
}
.dropdown{
    border-right: 1px solid grey;
    width: calc(100% / 4);
    padding-left: 8px;
    color: black;
}


    /* properties listings */
.listing{
    margin-top: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    

}
.slot{
    border: 1px solid lightgrey;
    border-radius: 20px;
}

.details{
    display: flex;
    border-top: 1px solid grey;
}

.property-title{
    color: black;
    padding: 30px;
    text-align: left;
}
.details div{
    display: flex;
    border-right: 1px solid grey;
    color: black;

}
.slot-items{
    width: 100%;
    justify-content: center;
    padding: 10px;

}
 /* guarantee_2 section styles */
 
 #staff-image{
    position: relative;
    top: -140px;
 }

 /* Guarantee_3 section styles */
 #Guarantee_3{
    background:linear-gradient(225.52deg, #271A00 0.45%, rgba(0, 0, 0, 0.982162) 100.47%);
 }
 .text_black_Bg{
    color: rgb(109, 107, 107);
    text-align: center;
    padding:7% 23%;
    color: #FFFFFF;

 }
.text_black_Bg button{
    background-color: #FFAC12;
    border:0;
    color: black;
}
.text_black_Bg p{
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.502564px;
    opacity: 0.6;
    padding: 21px 20%;
}
 /* Testimonials section styles */
 #testimonials{
    background: #E4E6F1;
    text-align: center;
    padding:7% 23%;
 }

 .testimonial_top img{
    width: 27%;
 }

 .testimonial_top p{
    color: black;
    padding: 15px 35% 60px;

 }
 
 .client-testimony{
    display: flex;
    justify-content: space-between;
    color: black;
    width: 100%;
    margin-top: 5%;

 }

#mid-client{
    background-color: black;
    color: #fff;
}
 .mid-client-div
{
    display: flex;
    padding: 3% 5%;
    gap: 4px;
    justify-content:center;
} 
.client-testimony img{
    height: 49px;
    width: 49px;    
 }
 .client-name{
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans';
    font-size: 13px;
    text-align: left;
    line-height: 14px;
    letter-spacing: -0.376923px;
 }

  /* contact session styles */
#contact{
    background: linear-gradient(225.52deg, #271A00 0.45%, rgba(0, 0, 0, 0.982162) 45.25%);
    padding: 6% 15%;
}
hr{
    border-top: 0.5px solid #FFFFFF;
    width: 100%;
    margin: 4% 0%;
}
.contact_button{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact_button p{
    font-size: 42px;
    font-weight: 700;
}
.cont-btn{
    padding: 11px 43px;
    height: 43px;
    margin-top: 16px;;
}
.contact_details{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo-social-icons{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.icons{
    display: flex;
    justify-content: space-between;
}
.icons a{
    color:#FFFFFF;
}
.column a{
    /* padding-bottom: 10px; */
    color: #979797;
    text-decoration: none;
    font-size: 12px;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 1px;
}
    /* media query  */
@media (max-width:990px)
{
   .colored-btn{
    width:46%;   
   }

   h1{
    font-size: 70px;
    }
    .listing{
    margin-top: 100px;
    }
    .inner-prod-container{
        margin: 0 9%;
    }
    .content-image img{
        height: 90%;        
    }
    #staff-image{
        position:static;
        margin-top: 40px;
     }
     #landing_page{
        background-position: center;
        background-size: cover;
     }
     .headings p{
        padding-right: 1% ;
        width:120%;
        padding-top: 2%;
        line-height: 35px;
       }
       .text_black_Bg{
        text-align:left;
     }
     .text_black_Bg p{
        padding: 21px 1%;
    }
    .cont-btn div{
        margin: 1px -26px;
    }
   .contact_details{
    gap: 30px;
   }
   .testimonial_top p{
    padding-left:9% ;
    padding-right:9% ;
   }
   .testimonial_top img{
    width: 75%;
   }
   .client-testimony{
    justify-content: center;
   }
   
}